$blue:   #1484c9;
$purple: #af2e8d;

.blue   { color: $blue;   }
.purple { color: $purple; }

h1 {
  font-size:  3em;
  text-align: center;
}

div#newTask {
  text-align: center;
  input {width: 450px; height: 30px;}
  button {height: 30px;}
}

h2 {
  font-size:  2em;
  text-align: center;
}
#toggleListsButton {margin-left: 46%;}
ul#fullList {display: none;}

ul {
  width:           800px;
  margin:          0 auto;
  list-style-type: none;

  li {
    margin:  10px;
    padding: 5px 10px;

    font-size:   1.5em;
    line-height: 1.5em;
    
    border:           3px solid lighten($purple, 30);
    border-radius:    4px;
    background-color: lighten($blue, 30);
    
    .completeBtn {float: right; margin-top: 6px;}

    &:hover {
      border-color:     lighten($purple, 20);
      background-color: lighten($blue, 20);
    }
  }
  li.completedTask {
    background-color: $purple!important;
    text-decoration: line-through;
  }
}
